@import '../../../../../styles.scss';

.picker-container {
  padding: .4rem;
  background-color: var(--bg-color);
  border: .1em solid var(--surface-color);
  box-shadow: 10px 10px 20px var(--accent-color);
  border-radius: 8px;
  gap: 10px;
}

select {
  border-radius: 5px;
}
