@use 'themes';

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-text-color);
}

p {
  color: var(--primary-text-color);
}

.container {
  background-color: var(--surface-color);
}
